@import url("https://fonts.googleapis.com/css2?family=Domine&family=Libre+Franklin:ital,wght@0,400;0,600;1,100&family=Tinos:wght@400;700&display=swap");
.header-title {
  font-family: "Tinos", serif;
  color: #635f5d;
}
.author {
  font-family: "Domine", sans-serif;
  color: #8e8883;
  font-weight: 700;
  font-size: 14px;
}
.author-date {
  font-family: "Libre Franklin", sans-serif;
  color: #8e8883;
  font-weight: 100;
}

.chart-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  fill: #8e8883;
  font-weight: 100;
}
.axis-line {
  stroke: #e2e2db;
}
.marks {
  stroke-width: 2.5;
  stroke-linecap: round;
}
.legend-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  fill: #635f5d;
  font-size: 20px;
}
.multi-line-tooltip {
  background-color: #e2e2db;
}

@media only screen and (max-width: 860px) {
  .chart-text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .chart-text {
    font-size: 27px;
  }
  .legend-title {
    font-size: 32px;
  }
}
