.dropdown-menu {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.bar-chart {
  transition: width 1s ease;
}

.axis-label {
  font-size: 13.7px;
}
.axis-value {
  font-size: 13.2px;
}

@keyframes indicator {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.arrow-indicator-group {
  transition: opacity 1s;
}

@media only screen and (max-width: 740px) {
  .axis-label {
    font-size: 20px;
  }
  .axis-value {
    font-size: 18px;
  }
}
